body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: black;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 90%;
	margin: auto 40px;
	vertical-align: top;
	text-align: center;
	min-height: 60em;
	background-color: #FFF;
	border-radius: 7px;	

}
#text-box {
	margin-right: -5px;
	font-weight: 100;
}
.pix{
	position:relative;
	float: left;
}
.deets{
	position:relative;
	float: left;
	padding: 25px;
	padding-bottom: 25px;
}
#tiles {
	float:left;
}